@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-path {
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 88%);
}

.hero-img-path {
  clip-path: polygon(67% 0, 100% 0, 100% 68%, 80% 100%, 0 100%, 32% 51%);
}

.footer-path {
  clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
}
.mobile-banner-path {
  /* clip-path: polygon(67% 0, 100% 0, 100% 68%, 80% 100%, 0 100%, 32% 51%); */
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);

}

@media (min-width: 1024px) { 
  .hero-path {
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
  }
  .footer-path {
    clip-path: polygon(0 0, 100% 49%, 100% 100%, 0% 100%);
  }
  .mobile-banner-path {
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  }
  
}



@layer base {
  .screen_size {
    @apply w-full lg:w-[976px] xl:w-[1200px] px-[31px] mx-auto;
  }
  .text-body-1 {
    @apply text-base leading-[1.6] font-normal;
  }
  .shadow-card {
    box-shadow: 0px 23px 30px 0px #16437763;
  }
  .common-text {
    @apply text-[24px] leading-[130%] font-semibold  py-[12px];
  }
  
}


@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}